{{! For a class, shows the talent types that it can learn. }}
{{! Note the duplicated format talent_classes.handlebars. }}
{{#if talents_types_sorted}}
    <div class="col-md-6">
        <h4>{{title}}</h4>
        <table class="talent-trees-table">
            <tbody>
                {{#each talents_types_sorted}}
                    {{#if value.[2]}}
                        <tr class="talent-tree-row">
                            <td class="talent-tree-cell">
                                <div class="talent-tree-header">
                                    <a href="#talents/{{toUnsafeHtmlId key}}" class="talent-tree-link" data-talent-type="{{toUnsafeHtmlId key}}" data-talent-display-name="{{toTitleCase value.[2]}}">{{toTitleCase value.[2]}}</a> {{> talent_mastery value}}
                                </div>
                                <div data-talent-type="{{toHtmlId key}}" class="class-talents-detail {{#unless value.[0]}}locked{{/unless}}"></div>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
{{else if talents_types}}
    {{! Fallback to original behavior if sorted version not available }}
    <div class="col-md-6">
        <h4>{{title}}</h4>
        <table class="talent-trees-table">
            <tbody>
                {{#eachProperty talents_types}}
                    {{#if value.[2]}}
                        <tr class="talent-tree-row">
                            <td class="talent-tree-cell">
                                <div class="talent-tree-header">
                                    <a href="#talents/{{toUnsafeHtmlId key}}" class="talent-tree-link" data-talent-type="{{toUnsafeHtmlId key}}" data-talent-display-name="{{toTitleCase value.[2]}}">{{toTitleCase value.[2]}}</a> {{> talent_mastery value}}
                                </div>
                                <div data-talent-type="{{toHtmlId key}}" class="class-talents-detail {{#unless value.[0]}}locked{{/unless}}"></div>
                            </td>
                        </tr>
                    {{/if}}
                {{/eachProperty}}
            </tbody>
        </table>
    </div>
{{/if}}
