<img width="{{opt "imgSize"}}" height="{{opt "imgSize"}}" src="img/{{itemImagePath image (opt "imgSize")}}" onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';" alt="{{name}}">
<div class="item-icon-placeholder" style="width: {{opt "imgSize"}}px; height: {{opt "imgSize"}}px; background: #ddd; display: none;"></div>