{{#each this}}
<h3><a class="anchor" id="changes/talents/{{name}}"></a>{{toTitleCase name}}</h3>
<div>
    {{#each values}}
        <div class="card">
            <div class="card-header clickable">
                <h3 class="card-title mb-0">
                    <button class="btn btn-link text-decoration-none p-0 w-100 text-start" type="button"
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse-{{type}}-{{toHtmlId value.id}}"
                            aria-expanded="false" 
                            aria-controls="collapse-{{type}}-{{toHtmlId value.id}}">
                        {{> talent_img value}}{{{labelForChangeType type}}} {{value.name}}
                    </button>
                </h3>
            </div>
            <div id="collapse-{{type}}-{{toHtmlId value.id}}" class="talent-details collapse" data-bs-parent="">
                {{#if value2}}
                    <table class="table table-bordered old-new">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <tr><th>Old</th><th>New</th></tr><tr>
                            <td>{{> talent_details value2}}</td>
                            <td>{{> talent_details value}}</td>
                        </tr>
                    </table>
                {{else}}
                    <div class="card-body">
                        {{> talent_details value}}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
{{else}}
<p>No talent changes in this version.</p>
{{/each}}
