{{! No anchor. Since there's only one h2, we don't want to jump to putting the anchor at the top of the screen. }}
{{!-- <h2><a class="anchor" id="classes/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h2><div> --}}
<h2>{{toTitleCase display_name}}</h2>
<div>
    {{#unless single_subclass}}
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
    {{/unless}}
    {{#each subclass_list}}
        <h3 {{#if ../single_subclass}}style="display: none;"{{/if}}>
            <a class="anchor" id="classes/{{toHtmlId ../short_name}}/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}
        </h3>
        <div class="class-desc well">
            <div class="class-images">
                {{#each images}}
                    <img src="img/{{file}}" width="{{#if width}}{{width}}{{else}}96{{/if}}" height="{{#if height}}{{height}}{{else}}96{{/if}}"/>
                {{/each}}
            </div>
            {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
            {{{desc}}}
            {{> dlc_notice}}
            <div class="wiki-link">
                <a href="http://te4.org/wiki/{{toWikiPage name}}">View Wiki</a>
            </div>
        </div>
        <div class="class-detail-container container-fluid">
            <div class="col-md-12">
                <h4>Stats</h4>
                <table class="stats-table ui-section-class-stats">
                    <thead>
                        <tr>
                            <th>Strength</th>
                            <th>Dexterity</th>
                            <th>Constitution</th>
                            <th>Magic</th>
                            <th>Willpower</th>
                            <th>Cunning</th>
                            <th>Life per level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{{statValue stats.str}}}</td>
                            <td>{{{statValue stats.dex}}}</td>
                            <td>{{{statValue stats.con}}}</td>
                            <td>{{{statValue stats.mag}}}</td>
                            <td>{{{statValue stats.wil}}}</td>
                            <td>{{{statValue stats.cun}}}</td>
                            <td>{{{statValue copy_add.life_rating}}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="class-detail-container container-fluid">
            <div class="row">
                {{$ 'class_talents' talents_types_sorted=talents_types_class_sorted talents_types=talents_types_class title='Class Talents' css_class='class-talents' }}
                {{$ 'class_talents' talents_types_sorted=talents_types_generic_sorted talents_types=talents_types_generic title='Generic Talents' css_class='generic-talents' }}
            </div>
        </div>
    {{/each}}
</div>
