{{! No anchor. Since there's only one h2, we don't want to jump to putting the anchor at the top of the screen. }}
{{!-- <h2><a class="anchor" id="races/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}</h2><div> --}}
{{! TODO: If single_subrace and display_name != single_subrace.0.display_name, should show both }}
<h2>{{toTitleCase display_name}}</h2>
<div>
    {{#unless single_subrace}}
        {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
        {{{desc}}}
    {{/unless}}
    {{#each subrace_list}}
        <h3 {{#if ../single_subrace}}style="display: none;"{{/if}}>
            <a class="anchor" id="races/{{toHtmlId ../short_name}}/{{toHtmlId short_name}}"></a>{{toTitleCase display_name}}
        </h3>
        <div class="race-desc well">
            <div class="race-images">
                {{#choose images}}
                    <img src="img/{{file}}" width="{{#if width}}{{width}}{{else}}96{{/if}}" height="{{#if height}}{{height}}{{else}}96{{/if}}"/>
                {{/choose}}
            </div>
            {{#if locked_desc}}<p class="flavor">{{locked_desc}}</p>{{/if}}
            {{{desc}}}
            {{> dlc_notice}}
            <div class="wiki-link">
                <a href="http://te4.org/wiki/{{toWikiPage name}}">View Wiki</a>
            </div>
        </div>
        <div class="race-stats-container">
            <h4>Stats</h4>
            <table class="race-stats-table">
                <thead>
                    <tr>
                        <th>STR</th>
                        <th>DEX</th>
                        <th>CON</th>
                        <th>MAG</th>
                        <th>WIL</th>
                        <th>CUN</th>
                        <th>Life/Lvl</th>
                        <th>XP Penalty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="STR">{{statValue stats.str}}</td>
                        <td data-label="DEX">{{statValue stats.dex}}</td>
                        <td data-label="CON">{{statValue stats.con}}</td>
                        <td data-label="MAG">{{statValue stats.mag}}</td>
                        <td data-label="WIL">{{statValue stats.wil}}</td>
                        <td data-label="CUN">{{statValue stats.cun}}</td>
                        <td data-label="Life/Lvl">{{statValue copy.life_rating}}</td>
                        <td data-label="XP Penalty">{{#if exp_penalty}}{{statValue (negate exp_penalty)}}%{{else}}0%{{/if}}</td>
                    </tr>
                </tbody>
            </table>
            {{#if (hasAdditionalStats this)}}
            <div class="race-additional-stats">
                <strong>Additional:</strong>
                {{#if size}}Size: {{size}}, {{/if}}
                {{#if copy.global_speed_base}}Global Speed: {{statValue copy.global_speed_base}}%, {{/if}}
                {{#if copy.poison_immune}}Poison Resist: {{statValue copy.poison_immune}}%, {{/if}}
                {{#if copy.cut_immune}}Bleed Resist: {{statValue copy.cut_immune}}%, {{/if}}
                {{#if copy.silence_immune}}Silence Resist: {{statValue copy.silence_immune}}%, {{/if}}
                {{#if copy.stun_immune}}Stun Resist: {{statValue copy.stun_immune}}%, {{/if}}
                {{#if copy.fear_immune}}Fear Resist: {{statValue copy.fear_immune}}%, {{/if}}
                {{#if copy.no_breath}}No need to breathe{{/if}}
            </div>
            {{/if}}
        </div>
        <div class="class-detail-container container-fluid">
            {{$ 'class_talents' talents_types_sorted=race_talents_sorted talents_types=race_talents title='Race Talents' css_class='race-talents' }}
        </div>
    {{/each}}
</div>
